### **Proyect SQL Data Exploration**

#### **Como importar archivos Excel a SQL Server Management Studio**

In [1]:
'Url = https://www.youtube.com/watch?v=Wxhwo0TzTWM'

'Url = https://www.youtube.com/watch?v=Wxhwo0TzTWM'

#### **Importando librerias Python**

In [3]:
from PIL import Image
import pandas as pd
import sqlalchemy
import urllib
import matplotlib.pyplot as plt
import numpy as np
%matplotlib inline
# collections as c
# Con collections, importamos la libreria y todas sus herramientas.
#from collections import defaultdict
# Al colocar el from, solo haremos la importación de una herramienta especifica que se encuentra dentro de la libreria "collections"
from collections import defaultdict as ddict
# Ahora le hemos agregado un alias, para no repetir los nombres.
import datetime
import os
import pyodbc as podbc# Conección SQL Server.import pandas as pd

In [4]:
df = pd.read_csv('owid-covid-data.csv')

df.sample(5)

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index,population,excess_mortality_cumulative_absolute,excess_mortality_cumulative,excess_mortality,excess_mortality_cumulative_per_million
159292,JPN,Asia,Japan,2020-08-21,59721.0,1220.0,1072.000,1155.0,11.0,11.714,...,33.7,NaN,13.05,84.63,0.919,123951696.0,NaN,NaN,NaN,NaN
45874,VGB,North America,British Virgin Islands,2022-09-16,7305.0,0.0,0.000,64.0,0.0,0.000,...,NaN,NaN,NaN,79.07,NaN,31332.0,NaN,NaN,NaN,NaN
167512,KIR,Oceania,Kiribati,2023-05-02,5025.0,0.0,0.000,24.0,0.0,0.000,...,58.9,NaN,1.90,68.37,0.630,131237.0,NaN,NaN,NaN,NaN
187505,LUX,Europe,Luxembourg,2022-07-31,320140.0,2769.0,395.571,896.0,3.0,0.429,...,26.0,NaN,4.51,82.25,0.916,647601.0,-75.59999,-0.64,11.24,-116.73853
207698,MDA,Europe,Moldova,2020-03-07,NaN,0.0,0.000,NaN,0.0,0.000,...,44.6,86.979,5.80,71.90,0.750,3272993.0,NaN,NaN,NaN,NaN

In [5]:
df.shape

(365553, 67)

In [6]:
df.columns

Index(['iso_code', 'continent', 'location', 'date', 'total_cases', 'new_cases',
       'new_cases_smoothed', 'total_deaths', 'new_deaths',
       'new_deaths_smoothed', 'total_cases_per_million',
       'new_cases_per_million', 'new_cases_smoothed_per_million',
       'total_deaths_per_million', 'new_deaths_per_million',
       'new_deaths_smoothed_per_million', 'reproduction_rate', 'icu_patients',
       'icu_patients_per_million', 'hosp_patients',
       'hosp_patients_per_million', 'weekly_icu_admissions',
       'weekly_icu_admissions_per_million', 'weekly_hosp_admissions',
       'weekly_hosp_admissions_per_million', 'total_tests', 'new_tests',
       'total_tests_per_thousand', 'new_tests_per_thousand',
       'new_tests_smoothed', 'new_tests_smoothed_per_thousand',
       'positive_rate', 'tests_per_case', 'tests_units', 'total_vaccinations',
       'people_vaccinated', 'people_fully_vaccinated', 'total_boosters',
       'new_vaccinations', 'new_vaccinations_smoothed',
       'total_vaccinations_per_hundred', 'people_vaccinated_per_hundred',
       'people_fully_vaccinated_per_hundred', 'total_boosters_per_hundred',
       'new_vaccinations_smoothed_per_million',
       'new_people_vaccinated_smoothed',
       'new_people_vaccinated_smoothed_per_hundred', 'stringency_index',
       'population_density', 'median_age', 'aged_65_older', 'aged_70_older',
       'gdp_per_capita', 'extreme_poverty', 'cardiovasc_death_rate',
       'diabetes_prevalence', 'female_smokers', 'male_smokers',
       'handwashing_facilities', 'hospital_beds_per_thousand',
       'life_expectancy', 'human_development_index', 'population',
       'excess_mortality_cumulative_absolute', 'excess_mortality_cumulative',
       'excess_mortality', 'excess_mortality_cumulative_per_million'],
      dtype='object')

In [7]:
Covid_Deaths = df[['iso_code', 'continent', 'location', 'date', 'population', 'total_cases', 'new_cases',
       'new_cases_smoothed', 'total_deaths', 'new_deaths',
       'new_deaths_smoothed', 'total_cases_per_million',
       'new_cases_per_million', 'new_cases_smoothed_per_million',
       'total_deaths_per_million', 'new_deaths_per_million',
       'new_deaths_smoothed_per_million', 'reproduction_rate', 'icu_patients',
       'icu_patients_per_million', 'hosp_patients',
       'hosp_patients_per_million', 'weekly_icu_admissions',
       'weekly_icu_admissions_per_million', 'weekly_hosp_admissions',
       'weekly_hosp_admissions_per_million',
       # 'new_tests', 'total_tests'
       #'total_tests_per_thousand', 'new_tests_per_thousand',
       #'new_tests_smoothed', 'new_tests_smoothed_per_thousand',
       #'positive_rate', 'tests_per_case', 'tests_units', 'total_vaccinations',
       #'people_vaccinated', 'people_fully_vaccinated', 'total_boosters',
       #'new_vaccinations', 'new_vaccinations_smoothed',
       #'total_vaccinations_per_hundred', 'people_vaccinated_per_hundred',
       #'people_fully_vaccinated_per_hundred', 'total_boosters_per_hundred',
       #'new_vaccinations_smoothed_per_million',
       #'new_people_vaccinated_smoothed',
       #'new_people_vaccinated_smoothed_per_hundred', 'stringency_index',
       #'population_density', 'median_age', 'aged_65_older', 'aged_70_older',
       #'gdp_per_capita', 'extreme_poverty', 'cardiovasc_death_rate',
       #'diabetes_prevalence', 'female_smokers', 'male_smokers',
       #'handwashing_facilities', 'hospital_beds_per_thousand',
       #'life_expectancy', 'human_development_index',
       #'excess_mortality_cumulative_absolute', 'excess_mortality_cumulative',
       #'excess_mortality', 'excess_mortality_cumulative_per_million'
       ]].copy()

In [8]:
Covid_Deaths.shape

(365553, 26)

In [9]:
Covid_Deaths.sample(5)

,iso_code,continent,location,date,population,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,...,new_deaths_smoothed_per_million,reproduction_rate,icu_patients,icu_patients_per_million,hosp_patients,hosp_patients_per_million,weekly_icu_admissions,weekly_icu_admissions_per_million,weekly_hosp_admissions,weekly_hosp_admissions_per_million
218360,MMR,Asia,Myanmar,2021-08-22,54179312.0,373685.0,2173.0,2772.286,14374.0,138.0,...,2.929,0.88,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
357039,VNM,Asia,Vietnam,2023-10-14,98186856.0,11623976.0,65.0,20.286,43206.0,0.0,...,0.000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
165725,KEN,Africa,Kenya,2022-05-27,54027484.0,324469.0,63.0,48.571,5651.0,0.0,...,0.005,1.71,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
138688,HTI,North America,Haiti,2023-05-01,11585003.0,34228.0,0.0,0.286,860.0,0.0,...,0.000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
299348,SLB,Oceania,Solomon Islands,2020-03-07,724272.0,NaN,0.0,0.000,NaN,0.0,...,0.000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [10]:
# Dividir el DataFrame en bloques
chunks = [Covid_Deaths[i:i + 100000] for i in range(0, Covid_Deaths.shape[0], 100000)]

# Guardar cada bloque en un archivo CSV
for i, chunk in enumerate(chunks):
    ruta_destino = fr'C:\Users\JAIME\Desktop\Jaime_Data_Analyst\Bootcamps\SQL\Curso_Alex_The_Analyst\Import_Data_SQL\Covid_Deaths_parte{i+1}.xlsx'
    
    try:
        chunk.to_csv(ruta_destino, index=False)
        print(f'Archivo guardado exitosamente en: {ruta_destino}')

    except Exception as e:
        print(f'Error al guardar el archivo: {e}')
        
#! Nos permite exportar archivos por separado a nuestra carpeta destino.

Archivo guardado exitosamente en: C:\Users\JAIME\Desktop\Jaime_Data_Analyst\Bootcamps\SQL\Curso_Alex_The_Analyst\Import_Data_SQL\Covid_Deaths_parte1.xlsx
Archivo guardado exitosamente en: C:\Users\JAIME\Desktop\Jaime_Data_Analyst\Bootcamps\SQL\Curso_Alex_The_Analyst\Import_Data_SQL\Covid_Deaths_parte2.xlsx
Archivo guardado exitosamente en: C:\Users\JAIME\Desktop\Jaime_Data_Analyst\Bootcamps\SQL\Curso_Alex_The_Analyst\Import_Data_SQL\Covid_Deaths_parte3.xlsx
Archivo guardado exitosamente en: C:\Users\JAIME\Desktop\Jaime_Data_Analyst\Bootcamps\SQL\Curso_Alex_The_Analyst\Import_Data_SQL\Covid_Deaths_parte4.xlsx

In [11]:

#! Ruta de destino del archivo Excel
#ruta_destino = r'C:\Users\JAIME\Desktop\Jaime_Data_Analyst\Bootcamps\SQL\Curso_Alex_The_Analyst\Covid_Deaths.csv'

#try:
    #! Intenta exportar el DataFrame a Excel
#    Covid_Deaths.to_excel(ruta_destino, index=False)
#    print(f'Archivo guardado exitosamente en: {ruta_destino}')

#except Exception as e:
    #! Captura cualquier excepción y muestra un mensaje de error
#    print(f'Error al guardar el archivo: {e}')

#! Nos permite exportar nuestra base de datos a una carpeta destino.

#### **Exportación #2**

In [12]:
df.shape

(365553, 67)

In [13]:
df.columns

Index(['iso_code', 'continent', 'location', 'date', 'total_cases', 'new_cases',
       'new_cases_smoothed', 'total_deaths', 'new_deaths',
       'new_deaths_smoothed', 'total_cases_per_million',
       'new_cases_per_million', 'new_cases_smoothed_per_million',
       'total_deaths_per_million', 'new_deaths_per_million',
       'new_deaths_smoothed_per_million', 'reproduction_rate', 'icu_patients',
       'icu_patients_per_million', 'hosp_patients',
       'hosp_patients_per_million', 'weekly_icu_admissions',
       'weekly_icu_admissions_per_million', 'weekly_hosp_admissions',
       'weekly_hosp_admissions_per_million', 'total_tests', 'new_tests',
       'total_tests_per_thousand', 'new_tests_per_thousand',
       'new_tests_smoothed', 'new_tests_smoothed_per_thousand',
       'positive_rate', 'tests_per_case', 'tests_units', 'total_vaccinations',
       'people_vaccinated', 'people_fully_vaccinated', 'total_boosters',
       'new_vaccinations', 'new_vaccinations_smoothed',
       'total_vaccinations_per_hundred', 'people_vaccinated_per_hundred',
       'people_fully_vaccinated_per_hundred', 'total_boosters_per_hundred',
       'new_vaccinations_smoothed_per_million',
       'new_people_vaccinated_smoothed',
       'new_people_vaccinated_smoothed_per_hundred', 'stringency_index',
       'population_density', 'median_age', 'aged_65_older', 'aged_70_older',
       'gdp_per_capita', 'extreme_poverty', 'cardiovasc_death_rate',
       'diabetes_prevalence', 'female_smokers', 'male_smokers',
       'handwashing_facilities', 'hospital_beds_per_thousand',
       'life_expectancy', 'human_development_index', 'population',
       'excess_mortality_cumulative_absolute', 'excess_mortality_cumulative',
       'excess_mortality', 'excess_mortality_cumulative_per_million'],
      dtype='object')

In [14]:
Covid_Vaccinations = df[['iso_code', 'continent', 'location', 'date',
        #'population', 'total_cases', 'new_cases',
       #'new_cases_smoothed', 'total_deaths', 'new_deaths',
       #'new_deaths_smoothed', 'total_cases_per_million',
       #'new_cases_per_million', 'new_cases_smoothed_per_million',
       #'total_deaths_per_million', 'new_deaths_per_million',
       #'new_deaths_smoothed_per_million', 'reproduction_rate', 'icu_patients',
       #'icu_patients_per_million', 'hosp_patients',
       #'hosp_patients_per_million', 'weekly_icu_admissions',
       #'weekly_icu_admissions_per_million', 'weekly_hosp_admissions',
       #'weekly_hosp_admissions_per_million',
        'new_tests', 'total_tests',
       'total_tests_per_thousand', 'new_tests_per_thousand',
       'new_tests_smoothed', 'new_tests_smoothed_per_thousand',
       'positive_rate', 'tests_per_case', 'tests_units', 'total_vaccinations',
       'people_vaccinated', 'people_fully_vaccinated', 'total_boosters',
       'new_vaccinations', 'new_vaccinations_smoothed',
       'total_vaccinations_per_hundred', 'people_vaccinated_per_hundred',
       'people_fully_vaccinated_per_hundred', 'total_boosters_per_hundred',
       'new_vaccinations_smoothed_per_million',
       'new_people_vaccinated_smoothed',
       'new_people_vaccinated_smoothed_per_hundred', 'stringency_index',
       'population_density', 'median_age', 'aged_65_older', 'aged_70_older',
       'gdp_per_capita', 'extreme_poverty', 'cardiovasc_death_rate',
       'diabetes_prevalence', 'female_smokers', 'male_smokers',
       'handwashing_facilities', 'hospital_beds_per_thousand',
       'life_expectancy', 'human_development_index',
       'excess_mortality_cumulative_absolute', 'excess_mortality_cumulative',
       'excess_mortality', 'excess_mortality_cumulative_per_million']].copy()

In [15]:
Covid_Vaccinations.sample(5)

,iso_code,continent,location,date,new_tests,total_tests,total_tests_per_thousand,new_tests_per_thousand,new_tests_smoothed,new_tests_smoothed_per_thousand,...,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index,excess_mortality_cumulative_absolute,excess_mortality_cumulative,excess_mortality,excess_mortality_cumulative_per_million
139382,OWID_HIC,NaN,High income,2021-04-08,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
328230,TON,Oceania,Tonga,2020-03-22,NaN,NaN,NaN,NaN,NaN,NaN,...,11.8,44.4,NaN,2.6,70.91,0.725,NaN,NaN,NaN,NaN
203826,MYT,Africa,Mayotte,2021-06-21,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,79.46,NaN,NaN,NaN,NaN,NaN
230239,NER,Africa,Niger,2022-06-15,NaN,NaN,NaN,NaN,NaN,NaN,...,0.1,15.4,8.978,0.3,62.42,0.394,NaN,NaN,NaN,NaN
131017,GTM,North America,Guatemala,2022-02-19,5347.0,3847377.0,218.496,0.304,12593.0,0.715,...,NaN,NaN,76.665,0.6,74.30,0.663,NaN,NaN,NaN,NaN

In [16]:
Covid_Vaccinations.shape

(365553, 45)

In [17]:
# Dividir el DataFrame en bloques
chunks = [Covid_Vaccinations[i:i + 100000] for i in range(0, Covid_Vaccinations.shape[0], 100000)]

# Guardar cada bloque en un archivo CSV
for i, chunk in enumerate(chunks):
    ruta_destino = fr'C:\Users\JAIME\Desktop\Jaime_Data_Analyst\Bootcamps\SQL\Curso_Alex_The_Analyst\Import_Data_SQL\Covid_Vaccinations_parte{i+1}.xlsx'
    
    try:
        chunk.to_csv(ruta_destino, index=False)
        print(f'Archivo guardado exitosamente en: {ruta_destino}')

    except Exception as e:
        print(f'Error al guardar el archivo: {e}')
        
#! Nos permite exportar archivos por separado a nuestra carpeta destino.

Archivo guardado exitosamente en: C:\Users\JAIME\Desktop\Jaime_Data_Analyst\Bootcamps\SQL\Curso_Alex_The_Analyst\Import_Data_SQL\Covid_Vaccinations_parte1.xlsx
Archivo guardado exitosamente en: C:\Users\JAIME\Desktop\Jaime_Data_Analyst\Bootcamps\SQL\Curso_Alex_The_Analyst\Import_Data_SQL\Covid_Vaccinations_parte2.xlsx
Archivo guardado exitosamente en: C:\Users\JAIME\Desktop\Jaime_Data_Analyst\Bootcamps\SQL\Curso_Alex_The_Analyst\Import_Data_SQL\Covid_Vaccinations_parte3.xlsx
Archivo guardado exitosamente en: C:\Users\JAIME\Desktop\Jaime_Data_Analyst\Bootcamps\SQL\Curso_Alex_The_Analyst\Import_Data_SQL\Covid_Vaccinations_parte4.xlsx

#### **Conectando SQL Server Management con Python**

//* Cuando SQL no se quiera conectar a nuestra "instancia" quiere decir a nuestro "Server Name" *//

La solución es, presionar el boton de windows de nuestro teclado e ir a buscar "Microsoft SQL Server Tools 19",
luego buscamos la opción "SQL Server Configuration Manager" y abrimos, nos aparecerá una ventana con varias opciones,
debemos buscar entre ellas la opción "SQL Server Configuration Manager (Local)", entre ellas la opción "SQL Server Services",
por ultimo, debemos buscar el nombre de nuestra instancia a la cual nos queremos conectar y nos muestra el error, en mi caso,
es la instancia "SQL Server Agent (SQLEXPRESS02)" este se deber encontrar al inicio con un icono de color rojo, y en la columna
estate deberia estar como "Stopped", todo ello es el error, ahora para solucionarlo, le debemos dar anticlick al name 
"SQL Server Agent (SQLEXPRESS02)" y darle click en la opción "Start" y con ello cerramos "SQL Server Management Studio"
y lo volvemos a abrir y nos conectamos, esta seria la solución.

By: Jaime Araujo Aguirre.

In [23]:
%pip install sqlalchemy pyodbc pandas

%pip install pyodbc

Requirement already satisfied: sqlalchemy in c:\users\jaime\appdata\local\programs\python\python312\lib\site-packages (2.0.23)
Requirement already satisfied: pyodbc in c:\users\jaime\appdata\local\programs\python\python312\lib\site-packages (5.0.1)
Requirement already satisfied: pandas in c:\users\jaime\appdata\local\programs\python\python312\lib\site-packages (2.1.3)
Requirement already satisfied: typing-extensions>=4.2.0 in c:\users\jaime\appdata\local\programs\python\python312\lib\site-packages (from sqlalchemy) (4.9.0)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\jaime\appdata\local\programs\python\python312\lib\site-packages (from sqlalchemy) (3.0.3)
Requirement already satisfied: numpy<2,>=1.26.0 in c:\users\jaime\appdata\local\programs\python\python312\lib\site-packages (from pandas) (1.26.2)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\jaime\appdata\local\programs\python\python312\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\jaime\appdata\local\programs\python\python312\lib\site-packages (from pandas) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.1 in c:\users\jaime\appdata\local\programs\python\python312\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: six>=1.5 in c:\users\jaime\appdata\local\programs\python\python312\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 23.3.1 -> 23.3.2
[notice] To update, run: python.exe -m pip install --upgrade pip

Requirement already satisfied: pyodbc in c:\users\jaime\appdata\local\programs\python\python312\lib\site-packages (5.0.1)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 23.3.1 -> 23.3.2
[notice] To update, run: python.exe -m pip install --upgrade pip

#### **Consideraciones para mejorar los comentarios**

In [17]:
''' Importante '''
# Todo:
# !
# ?

' Importante '

#### **Consideraciones para mostrar los resultados de manera horizontal**

In [18]:
'''pd.set_option('display.expand_frame_repr', False)'''

#! Importante para que nos muestre todo el resultado en forma horizontal.

"pd.set_option('display.expand_frame_repr', False)"

#### **Conexión de base de datos**

In [47]:
# Parámetros de conexión
server = 'DESKTOP-CK3D4E3\\SQLEXPRESS02'
#database = 'tu_base_de_datos'
#username = 'tu_usuario'
#password = 'tu_contraseña'

#! Llevamos a cabo la conexión con el servidor

conexion = podbc.connect(driver= '{SQL server}', host = server)

print("Conexión Exitosa")

#! Crear un cursor
cursor = conexion.cursor()

cursor.execute("CREATE DATABASE PORTFOLIO_PROYECT")

#! Nos aseguramos de cerrar la conexión

conexion.close()

#! Nos permite crear una base de datos, en nuestro ejemplo es "DB_SQL_FOR_PYTHON".

Conexión Exitosa

#### **Consultas a nuestras tablas**

In [19]:
def conexion_sql_server():
# Nombre de nuestro DSN (puedes cambiarlo al DSN que has configurado)
    dsn = 'Portfolio_Proyect'

# Cadena de conexión SQLAlchemy utilizando DSN
    connection_string = f"mssql+pyodbc:///?odbc_connect={urllib.parse.quote_plus(f'DSN={dsn};Trusted_Connection=yes')}"
    engine = sqlalchemy.create_engine(connection_string, echo=False)

# Devolver la conexión
    return engine

def select_to_df(sql_query, connection):
    try:
# Utilizamos la conexión para ejecutar la consulta y cargar los resultados en un DataFrame de Pandas
        df = pd.read_sql_query(sql_query, connection)
        return df
    except Exception as e:
        print(e)
        return df

In [20]:
# Conecta a la base de datos
conexion = conexion_sql_server()

pd.set_option('display.expand_frame_repr', False) #! Muestra los resultados de manera horizontal.

# Realizamos la consulta y obtenemos los resultados en un DataFrame
df = select_to_df("SELECT * FROM Covid_Deaths_1", conexion)

# Muestra el DataFrame
print(df.head())

# ! Nos permite hacer consultas y visualizarlas
# Todo:
# ?

  iso_code continent      location       date  population  total_cases  new_cases  new_cases_smoothed  total_deaths  new_deaths  ...  new_deaths_smoothed_per_million  reproduction_rate  icu_patients  icu_patients_per_million  hosp_patients  hosp_patients_per_million  weekly_icu_admissions weekly_icu_admissions_per_million weekly_hosp_admissions weekly_hosp_admissions_per_million
0      BFA    Africa  Burkina Faso 2023-04-27  22673764.0      22056.0        0.0                 0.0         396.0         0.0  ...                              0.0               None          None                      None           None                       None                   None                              None                   None                               None
1      BFA    Africa  Burkina Faso 2023-04-28  22673764.0      22056.0        0.0                 0.0         396.0         0.0  ...                              0.0               None          None                      None           None                       None                   None                              None                   None                               None
2      BFA    Africa  Burkina Faso 2023-04-29  22673764.0      22056.0        0.0                 0.0         396.0         0.0  ...                              0.0               None          None                      None           None                       None                   None                              None                   None                               None
3      BFA    Africa  Burkina Faso 2023-04-30  22673764.0      22056.0        0.0                 0.0         396.0         0.0  ...                              0.0               None          None                      None           None                       None                   None                              None                   None                               None
4      BFA    Africa  Burkina Faso 2023-05-01  22673764.0      22056.0        0.0                 0.0         396.0         0.0  ...                              0.0               None          None                      None           None                       None                   None                              None                   None                               None

[5 rows x 26 columns]

In [21]:
df.sample(5)

# Nos permite mostrar valores de manera aleatoria.

       iso_code      continent      location       date    population  total_cases  new_cases  new_cases_smoothed  total_deaths  new_deaths  ...  new_deaths_smoothed_per_million  reproduction_rate  icu_patients  icu_patients_per_million  hosp_patients  hosp_patients_per_million  weekly_icu_admissions weekly_icu_admissions_per_million weekly_hosp_admissions weekly_hosp_admissions_per_million
78005  OWID_AFR           None        Africa 2020-08-16  1.426737e+09    1114998.0    11677.0          10418857.0       27998.0       222.0  ...                           236.00               None          None                      None           None                       None                   None                              None                   None                               None
15877       KHM           Asia      Cambodia 2020-08-15  1.676785e+07        273.0        0.0              3857.0           NaN         0.0  ...                             0.00               0.24          None                      None           None                       None                   None                              None                   None                               None
79365       ARG  South America     Argentina 2021-11-11  4.551032e+07    5374210.0     1561.0           1306857.0      116941.0        12.0  ...                             0.22              01.07         651.0                    14,304           None                       None                   None                              None                   None                               None
46819       AGO         Africa        Angola 2022-12-21  3.558900e+07     105056.0       13.0              9571.0        1929.0         1.0  ...                             4.00               0.35          None                      None           None                       None                   None                              None                   None                               None
91566       BFA         Africa  Burkina Faso 2020-12-10  2.267376e+07       3750.0      171.0             98286.0          71.0         2.0  ...                            19.00               1.51          None                      None           None                       None                   None                              None                   None                               None

[5 rows x 26 columns]

In [22]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 26 columns):
 #   Column                              Non-Null Count   Dtype
---  ------                              --------------   -----
 0   iso_code                            100000 non-null  object
 1   continent                           97093 non-null   object
 2   location                            100000 non-null  object
 3   date                                100000 non-null  datetime64[ns]
 4   population                          100000 non-null  float64
 5   total_cases                         92891 non-null   float64
 6   new_cases                           98563 non-null   float64
 7   new_cases_smoothed                  98213 non-null   float64
 8   total_deaths                        89127 non-null   float64
 9   new_deaths                          98569 non-null   float64
 10  new_deaths_smoothed                 98224 non-null   float64
 11  total_cases_per_million             92891 non-null   float64
 12  new_cases_per_million               98563 non-null   float64
 13  new_cases_smoothed_per_million      98213 non-null   float64
 14  total_deaths_per_million            89127 non-null   float64
 15  new_deaths_per_million              98569 non-null   float64
 16  new_deaths_smoothed_per_million     98224 non-null   float64
 17  reproduction_rate                   56467 non-null   object
 18  icu_patients                        13256 non-null   object
 19  icu_patients_per_million            13256 non-null   object
 20  hosp_patients                       12551 non-null   object
 21  hosp_patients_per_million           12551 non-null   object
 22  weekly_icu_admissions               2902 non-null    object
 23  weekly_icu_admissions_per_million   2902 non-null    object
 24  weekly_hosp_admissions              6697 non-null    object
 25  weekly_hosp_admissions_per_million  6697 non-null    object
dtypes: datetime64[ns](1), float64(13), object(12)
memory usage: 19.8+ MB

In [23]:
'''
Select Data that we are going to be using
'''

'\nSelect Data that we are going to be using\n'

In [24]:
conexion = conexion_sql_server()

pd.set_option('display.expand_frame_repr', False) #! Muestra los resultados de manera horizontal.

df = select_to_df('''SELECT Location, date, total_cases, new_cases,
                        total_deaths, population                    
                    FROM Covid_Deaths_1
                    WHERE continent is not null;
                        ''', conexion)

print(df.sample(10))

#! Nos permite hacer consultas y visualizarlas.
#! Selecionamos solo algunas columnas de la tabla "Covid_Deaths_1" y las mostramos.
#! By: Jaime Araujo.

           Location       date  total_cases  new_cases  total_deaths  population
78036   El Salvador 2021-12-14     121200.0     1397.0        3797.0   6336393.0
30644       Estonia 2021-01-09      34740.0        0.0         323.0   1326064.0
33361          Cuba 2022-11-29    1111379.0        4.0        8530.0  11212198.0
82276    Costa Rica 2020-01-15          NaN        0.0           NaN   5180836.0
72509        Brunei 2023-09-19     311236.0        0.0         163.0    449002.0
52531    Azerbaijan 2021-09-28     481401.0      558.0        6476.0  10358078.0
92372    Costa Rica 2023-03-16    1214651.0        0.0        9266.0   5180836.0
78726  Cook Islands 2022-10-12       6389.0        0.0           1.0     17032.0
94704       Armenia 2023-09-27     449650.0        0.0        8751.0   2780472.0
21186       Eritrea 2022-05-26       9756.0        1.0         103.0   3684041.0

In [25]:
'''
Looking at Total Cases vs Total Deaths
Shows likelihood of dying if you contract covid in your country
'''

'\nLooking at Total Cases vs Total Deaths\nShows likelihood of dying if you contract covid in your country\n'

In [26]:
conexion = conexion_sql_server()

pd.set_option('display.expand_frame_repr', False) #! Muestra los resultados de manera horizontal.

df = select_to_df('''SELECT Location, date, total_cases,
                        total_deaths,
                        (CAST(total_deaths AS decimal(18,4)) / CAST(total_cases AS decimal(18, 4)))*100 AS Death_Percentage
                    FROM Covid_Deaths_1
                    WHERE continent is not null;
                        ''', conexion)

print(df.sample(10))

#df.sample(10)

#! Nos permite hacer consultas y visualizarlas.
#! Selecionamos solo algunas columnas de la tabla "Covid_Deaths_1" y las mostramos.
#! Creamos una columna con el % de muertes. (deaths / cases)
#! WHERE continent is not null, elimina los valores vacios de la columna "continent"
#! By: Jaime Araujo.

                     Location       date  total_cases  total_deaths  Death_Percentage
15670  Bosnia and Herzegovina 2021-03-01     132138.0        5096.0          3.856574
32957      Dominican Republic 2020-05-07       8807.0         362.0          4.110367
38585                  Brazil 2020-10-20    5235344.0      153905.0          2.939730
76105               Argentina 2021-06-21    4380527.0      101469.0          2.316365
12893                 Belarus 2020-10-27      93707.0         961.0          1.025537
50282                   Benin 2021-01-26       3643.0          48.0          1.317595
12839                 Belarus 2020-09-03      72141.0         691.0          0.957846
14579                 Croatia 2021-01-24     228568.0        4799.0          2.099594
63034                 Bermuda 2021-07-02       2514.0          33.0          1.312649
92993                 Armenia 2023-04-21     448980.0        8746.0          1.947971

In [27]:
conexion = conexion_sql_server()

pd.set_option('display.expand_frame_repr', False) #! Muestra los resultados de manera horizontal.

df = select_to_df('''SELECT Location, date, total_cases,
                        total_deaths,
                        (CAST(total_deaths AS decimal(18,4)) / CAST(total_cases AS decimal(18, 4)))*100 AS Death_Percentage
                    FROM Covid_Deaths_1
                    WHERE Location LIKE '%Argentina%'
                    AND continent is not null
                    ORDER BY Death_Percentage DESC;
                        ''', conexion)

print(df.head(10)) # Nos muestra los primeros 10 valores.

#print(df.tail(10)) # Nos muestra los ultimos 10 valores.

#! Nos permite hacer consultas y visualizarlas.
#! Selecionamos solo algunas columnas de la tabla "Covid_Deaths_1" y las mostramos.
#! Creamos una columna con el % de muertes. (deaths / cases).
#! Solo consideramos la Location "Argentina".
#! Ordenamos los valores por medio de la columna "Death_Percentage" DESC.
#! WHERE continent is not null, elimina los valores vacios de la columna "continent"
#! By: Jaime Araujo.

    Location       date  total_cases  total_deaths  Death_Percentage
0  Argentina 2020-03-05         10.0           1.0         10.000000
1  Argentina 2020-03-10         34.0           3.0          8.823529
2  Argentina 2020-05-05       7178.0         568.0          7.913068
3  Argentina 2020-05-04       6949.0         547.0          7.871636
4  Argentina 2020-03-13        102.0           8.0          7.843137
5  Argentina 2020-03-14        115.0           9.0          7.826087
6  Argentina 2020-05-01       6463.0         505.0          7.813709
7  Argentina 2020-05-02       6629.0         517.0          7.799065
8  Argentina 2020-05-06       7476.0         583.0          7.798288
9  Argentina 2020-05-03       6753.0         526.0          7.789131

In [28]:
conexion = conexion_sql_server()

pd.set_option('display.expand_frame_repr', False) #! Muestra los resultados de manera horizontal.

df = select_to_df('''SELECT Location, date, total_cases,
                        total_deaths, new_deaths,
                        (CAST(total_deaths AS decimal(18,4)) / CAST(total_cases AS decimal(18, 4)))*100 AS Death_Percentage
                    FROM Covid_Deaths_1
                    WHERE Location LIKE '%Argentina%'
                    AND continent is not null
                    ORDER BY 6 DESC;
                        ''', conexion)

print(df.head(10)) #! Nos muestra los primeros 10 valores.

#print(df.tail(10)) #! Nos muestra los ultimos 10 valores.

#! Nos permite hacer consultas y visualizarlas.
#! Selecionamos solo algunas columnas de la tabla "Covid_Deaths_1" y las mostramos.
#! Creamos una columna con el % de muertes. (deaths / cases).
#! Solo consideramos la Location "Argentina".
#! Ordenamos los valores por medio de la columna "5" DESC.
#! WHERE continent is not null, elimina los valores vacios de la columna "continent"
#! By: Jaime Araujo.

    Location       date  total_cases  total_deaths  new_deaths  Death_Percentage
0  Argentina 2020-03-05         10.0           1.0         1.0         10.000000
1  Argentina 2020-03-10         34.0           3.0         2.0          8.823529
2  Argentina 2020-05-05       7178.0         568.0        21.0          7.913068
3  Argentina 2020-05-04       6949.0         547.0        21.0          7.871636
4  Argentina 2020-03-13        102.0           8.0         4.0          7.843137
5  Argentina 2020-03-14        115.0           9.0         1.0          7.826087
6  Argentina 2020-05-01       6463.0         505.0        17.0          7.813709
7  Argentina 2020-05-02       6629.0         517.0        12.0          7.799065
8  Argentina 2020-05-06       7476.0         583.0        15.0          7.798288
9  Argentina 2020-05-03       6753.0         526.0         9.0          7.789131

In [29]:
'''
Looking at Total Cases vs Population
Shows what percentage of population got Covid
'''

'\nLooking at Total Cases vs Population\nShows what percentage of population got Covid\n'

In [30]:
conexion = conexion_sql_server()

pd.set_option('display.expand_frame_repr', False) #! Muestra los resultados de manera horizontal.

df = select_to_df('''SELECT Location, date, population,
                    total_cases,
                        (CAST(total_cases AS decimal(18,4)) / CAST(population AS decimal(18, 4)))*100 AS Percent_Population
                    FROM Covid_Deaths_1
                    WHERE Location LIKE '%Argentina%'
                    AND continent is not null
                    ORDER BY 5 DESC;
                        ''', conexion)

print(df.head(10)) #! Nos muestra los primeros 10 valores.

#print(df.tail(10)) #! Nos muestra los ultimos 10 valores.

#! Nos permite hacer consultas y visualizarlas.
#! Selecionamos solo algunas columnas de la tabla "Covid_Deaths_1" y las mostramos.
#! Creamos una columna con el % de muertes. (total_cases / population).
#! Solo consideramos la Location "Argentina".
#! Ordenamos los valores por medio de la columna "5" DESC.
#! WHERE continent is not null, elimina los valores vacios de la columna "continent"
#! By: Jaime Araujo.

    Location       date  population  total_cases  Percent_Population
0  Argentina 2023-12-04  45510324.0   10074137.0           22.135938
1  Argentina 2023-12-05  45510324.0   10074137.0           22.135938
2  Argentina 2023-12-06  45510324.0   10074137.0           22.135938
3  Argentina 2023-12-07  45510324.0   10074137.0           22.135938
4  Argentina 2023-12-08  45510324.0   10074137.0           22.135938
5  Argentina 2023-12-09  45510324.0   10074137.0           22.135938
6  Argentina 2023-12-10  45510324.0   10074137.0           22.135938
7  Argentina 2023-12-11  45510324.0   10074137.0           22.135938
8  Argentina 2023-12-12  45510324.0   10074137.0           22.135938
9  Argentina 2023-12-13  45510324.0   10074137.0           22.135938

In [31]:
conexion = conexion_sql_server()

pd.set_option('display.expand_frame_repr', False) #! Muestra los resultados de manera horizontal.

df = select_to_df('''SELECT Location, date, population,
                    total_cases, new_deaths,
                        (CAST(total_cases AS decimal(18,4)) / CAST(population AS decimal(18, 4)))*100 AS Percent_Population
                    FROM Covid_Deaths_1
                    WHERE Location LIKE '%Argentina%'
                    AND continent is not null
                    ORDER BY 5 DESC;
                        ''', conexion)

print(df.head(10)) #! Nos muestra los primeros 10 valores.

#print(df.tail(10)) #! Nos muestra los ultimos 10 valores.

#! Nos permite hacer consultas y visualizarlas.
#! Selecionamos solo algunas columnas de la tabla "Covid_Deaths_2" y las mostramos.
#! Creamos una columna con el % de muertes. (total_cases / population).
#! Solo consideramos la Location "Argentina".
#! Ordenamos los valores por medio de la columna "5" DESC.
#! WHERE continent is not null, elimina los valores vacios de la columna "continent"
#! By: Jaime Araujo.

    Location       date  population  total_cases  new_deaths  Percent_Population
0  Argentina 2021-05-26  45510324.0    3754870.0       926.0            8.250589
1  Argentina 2021-05-17  45510324.0    3467566.0       878.0            7.619295
2  Argentina 2021-05-31  45510324.0    3908620.0       820.0            8.588425
3  Argentina 2021-05-27  45510324.0    3795404.0       774.0            8.339655
4  Argentina 2021-05-19  45510324.0    3544060.0       756.0            7.787376
5  Argentina 2021-05-28  45510324.0    3832586.0       743.0            8.421355
6  Argentina 2021-05-18  45510324.0    3506876.0       738.0            7.705671
7  Argentina 2021-05-20  45510324.0    3580895.0       697.0            7.868314
8  Argentina 2021-06-02  45510324.0    3975238.0       674.0            8.734805
9  Argentina 2021-05-10  45510324.0    3289632.0       669.0            7.228320

In [32]:
conexion = conexion_sql_server()

pd.set_option('display.expand_frame_repr', False) #! Muestra los resultados de manera horizontal.

df = select_to_df('''SELECT *
                    FROM Covid_Deaths_1;
                        ''', conexion)

print(df.columns) #! Nos muestra los primeros 10 valores.

#print(df.tail(10)) #! Nos muestra los ultimos 10 valores.

#! Nos permite hacer consultas y visualizarlas.
#! Nos permite visualizar los nombres de nuestras columnas.
#! By: Jaime Araujo.

Index(['iso_code', 'continent', 'location', 'date', 'population',
       'total_cases', 'new_cases', 'new_cases_smoothed', 'total_deaths',
       'new_deaths', 'new_deaths_smoothed', 'total_cases_per_million',
       'new_cases_per_million', 'new_cases_smoothed_per_million',
       'total_deaths_per_million', 'new_deaths_per_million',
       'new_deaths_smoothed_per_million', 'reproduction_rate', 'icu_patients',
       'icu_patients_per_million', 'hosp_patients',
       'hosp_patients_per_million', 'weekly_icu_admissions',
       'weekly_icu_admissions_per_million', 'weekly_hosp_admissions',
       'weekly_hosp_admissions_per_million'],
      dtype='object')

In [33]:
'''
Looking at Countries with Highest Infection Rate compared to Population
'''

'\nLooking at Countries with Highest Infection Rate compared to Population\n'

In [34]:
conexion = conexion_sql_server()

pd.set_option('display.expand_frame_repr', False) #! Muestra los resultados de manera horizontal.

df = select_to_df('''SELECT Location, population,
                    MAX(total_cases) AS HighestInfectionCount,
                        MAX((CAST(total_cases AS decimal(18,4)) / CAST(population AS decimal(18, 4))))*100 AS Percent_Population_Infected
                    FROM Covid_Deaths_1
                    WHERE continent is not null
                    GROUP BY Location, population
                    ORDER BY 4 DESC;
                        ''', conexion)

print(df.head(10)) #! Nos muestra los primeros 10 valores.

#print(df.tail(10)) #! Nos muestra los ultimos 10 valores.

#! Nos permite hacer consultas y visualizarlas.
#! Selecionamos solo algunas columnas de la tabla "Covid_Deaths_1" y las mostramos.
#! Creamos una columna con el % de muertes. (total_cases / population).
#! Calculamos el numero más alto de infecciones "HighestInfectionCount".
#! Calculamos el % más alto de la población infectada.
#! Ordenamos los valores por medio de la columna "4" DESC.
#! WHERE continent is not null, elimina los valores vacios de la columna "continent"
#! By: Jaime Araujo.

         Location  population  HighestInfectionCount  Percent_Population_Infected
0          Cyprus    896007.0               660854.0                    73.755451
1          Brunei    449002.0               321235.0                    71.544225
2         Austria   8939617.0              6081287.0                    68.026259
3         Andorra     79843.0                48015.0                    60.136768
4         Denmark   5882259.0              3423176.0                    58.194921
5         Bahrain   1472237.0               696614.0                    47.316702
6  Cayman Islands     68722.0                31472.0                    45.796106
7         Estonia   1326064.0               604950.0                    45.619970
8         Czechia  10493990.0              4713739.0                    44.918463
9       Australia  26177410.0             11698780.0                    44.690365

In [35]:
'''
Showing Countries with Highest Death Count per Population
'''

'\nShowing Countries with Highest Death Count per Population\n'

In [36]:
conexion = conexion_sql_server()

pd.set_option('display.expand_frame_repr', False) #! Muestra los resultados de manera horizontal.

df = select_to_df('''SELECT Location, MAX (CAST(total_deaths AS float)) AS TotalDeathCount,
                  MAX (date) AS Last_time
                    FROM Covid_Deaths_1
                    WHERE continent is not null
                    GROUP BY Location
                    ORDER BY TotalDeathCount DESC;
                        ''', conexion)

print(df.head(10)) #! Nos muestra los primeros 10 valores.

#print(df.tail(10)) #! Nos muestra los ultimos 10 valores.

#! Nos permite hacer consultas y visualizarlas.
#! Selecionamos solo algunas columnas de la tabla "Covid_Deaths_1" y las mostramos.
#! Calculamos el valor maximo de muertes totales.
#! Agrupamos los valores por "Location"
#! Ordenamos los valores por medio de la columna "TotalDeathCount" DESC.
#! CAST(total_deaths AS int), nos permite cambiar el tipo de dato.
#! WHERE continent is not null, elimina los valores vacios de la columna "continent"
#! MAX (date) AS Last_time, agregamos la ultima fecha con registro de datos.
#! By: Jaime Araujo.

    Location  TotalDeathCount  Last_time
0     Brazil         702116.0 2023-12-19
1   Colombia         142727.0 2023-12-19
2  Argentina         130682.0 2023-12-31
3      China         121880.0 2023-12-19
4      Chile          64497.0 2023-12-19
5     Canada          53470.0 2023-12-19
6    Czechia          43153.0 2024-01-02
7   Bulgaria          38539.0 2023-12-21
8    Ecuador          36036.0 2023-12-19
9    Belgium          34339.0 2023-12-19

In [37]:
'''
Let´s break things down by continent
'''

'\nLet´s break things down by continent\n'

In [38]:
conexion = conexion_sql_server()

pd.set_option('display.expand_frame_repr', False) #! Muestra los resultados de manera horizontal.

df = select_to_df('''SELECT continent, MAX (CAST(total_deaths AS float)) AS TotalDeathCount,
                  MAX (date) AS Last_time
                    FROM Covid_Deaths_1
                    WHERE continent is not null
                    GROUP BY continent
                    ORDER BY TotalDeathCount DESC;
                        ''', conexion)

print(df.head(10)) #! Nos muestra los primeros 10 valores.

#print(df.tail(10)) #! Nos muestra los ultimos 10 valores.

#! Nos permite hacer consultas y visualizarlas.
#! Selecionamos solo algunas columnas de la tabla "Covid_Deaths_1" y las mostramos.
#! Calculamos el valor maximo de muertes totales.
#! Agrupamos los valores por "continent"
#! Ordenamos los valores por medio de la columna "TotalDeathCount" DESC.
#! CAST(total_deaths AS int), nos permite cambiar el tipo de dato.
#! WHERE continent is not null, elimina los valores vacios de la columna "continent"
#! MAX (date) AS Last_time, agregamos la ultima fecha con registro de datos.
#! By: Jaime Araujo.

       continent  TotalDeathCount  Last_time
0  South America         702116.0 2023-12-31
1           Asia         121880.0 2023-12-19
2  North America          53470.0 2023-12-28
3         Europe          43153.0 2024-01-02
4         Africa          24830.0 2023-12-19
5        Oceania          23915.0 2023-12-19

In [39]:
conexion = conexion_sql_server()

pd.set_option('display.expand_frame_repr', False) #! Muestra los resultados de manera horizontal.

df = select_to_df('''SELECT date, SUM (CAST(new_cases AS float)) AS Total_New_Cases,
                  SUM(CAST(new_deaths AS float)) AS Total_New_Deaths
                    FROM Covid_Deaths_1
                    WHERE continent is not null
                    GROUP BY date
                    ORDER BY 1,2 DESC;
                        ''', conexion)

#print(df.sample(10)) #! Nos muestra los primeros 10 valores.
#print(df.tail(10)) #! Nos muestra los ultimos 10 valores.

Test = df[df['date'] == '2020-05-13'] #! Filtramos la columna 'date' por medio de un valor especifico.
print (Test)

#! Nos permite hacer consultas y visualizarlas.
#! Selecionamos solo algunas columnas de la tabla "Covid_Deaths_1" y las mostramos.
#! Calculamos la suma de "new_cases" y "new_deaths".
#! Agrupamos los valores por la columna "date".
#! Ordenamos los valores por medio de la columna "date", "Total_New_Cases" DESC.
#! By: Jaime Araujo.

          date  Total_New_Cases  Total_New_Deaths
133 2020-05-13          16460.0             917.0

In [40]:
conexion = conexion_sql_server()

pd.set_option('display.expand_frame_repr', False) #! Muestra los resultados de manera horizontal.

df = select_to_df('''SELECT date,
                    SUM(ISNULL(new_cases, 0)) AS Total_New_Cases,
                    SUM(ISNULL(new_deaths, 0)) AS Total_New_Deaths,
                    CASE
                        WHEN SUM(ISNULL(new_cases, 0)) = 0 THEN 0  -- Para evitar la división por cero
                        ELSE CAST(SUM(ISNULL(new_deaths, 0)) AS DECIMAL(18, 4)) / CAST(SUM(ISNULL(new_cases, 0)) AS DECIMAL(18, 4)) * 100
                    END AS DeathPercentage
                FROM Covid_Deaths_1
                WHERE continent IS NOT NULL
                GROUP BY date
                ORDER BY date DESC, Total_New_Cases DESC;
                        ''', conexion)

#print(df.sample(10)) #! Nos muestra los primeros 10 valores.
#print(df.tail(10)) #! Nos muestra los ultimos 10 valores.

Test = df[df['date'] == '2020-05-13'] #! Filtramos la columna 'date' por medio de un valor especifico.
print (Test)

#! Nos permite hacer consultas y visualizarlas.
#! Selecionamos solo algunas columnas de la tabla "Covid_Deaths_1" y las mostramos.
#! Calculamos la suma de "new_cases" y "new_deaths".
#! Agrupamos los valores por la columna "date".
#! Ordenamos los valores por medio de la columna "date", "Total_New_Cases" DESC.
#! By: Jaime Araujo.

           date  Total_New_Cases  Total_New_Deaths  DeathPercentage
1329 2020-05-13          16460.0             917.0         5.571081

In [41]:
conexion = conexion_sql_server()

pd.set_option('display.expand_frame_repr', False) #! Muestra los resultados de manera horizontal.

df = select_to_df('''SELECT
                    SUM(ISNULL(new_cases, 0)) AS Total_New_Cases,
                    SUM(ISNULL(new_deaths, 0)) AS Total_New_Deaths,
                    CASE
                        WHEN SUM(ISNULL(new_cases, 0)) = 0 THEN 0  -- Para evitar la división por cero
                        ELSE CAST(SUM(ISNULL(new_deaths, 0)) AS DECIMAL(18, 4)) / CAST(SUM(ISNULL(new_cases, 0)) AS DECIMAL(18, 4)) * 100
                    END AS DeathPercentage
                FROM Covid_Deaths_1
                WHERE continent IS NOT NULL
                ORDER BY 1, 2;
                        ''', conexion)

print(df) #! Nos muestra los primeros 10 valores.
#!print(df.tail(10)) #! Nos muestra los ultimos 10 valores.

#!Test = df[df['date'] == '2023-03-13'] #! Filtramos la columna 'date' por medio de un valor especifico.
#!print (Test)

#! Nos permite hacer consultas y visualizarlas.
#! Selecionamos solo algunas columnas de la tabla "Covid_Deaths_1" y las mostramos.
#! Calculamos la suma de "new_cases" y "new_deaths".
#! Ordenamos los valores por medio de la columna "1", "2".
#! Calculamos los valores totales, sin agruparlos.
#! By: Jaime Araujo.

   Total_New_Cases  Total_New_Deaths  DeathPercentage
0      212356201.0         1632625.0         0.768814

In [42]:
conexion = conexion_sql_server()

pd.set_option('display.expand_frame_repr', False) #! Muestra los resultados de manera horizontal.

df = select_to_df('''SELECT Dea.continent, Dea.location, Dea.date,
                  Dea.population, Vac.new_vaccinations
                    FROM Covid_Deaths_1 AS Dea
                    JOIN Covid_Vaccinations_1 AS Vac
                        ON Dea.location = Vac.location
                        AND Dea.date = Vac.date
                    WHERE Dea.continent is not null
                    ORDER BY 2,3;
                        ''', conexion)

print(df.sample(10)) #! Nos muestra los primeros 10 valores.
#!print(df.tail(10)) #! Nos muestra los ultimos 10 valores.

#!Test = df[df['date'] == '2023-03-13'] #! Filtramos la columna 'date' por medio de un valor especifico.
#!print (Test)

#! Nos permite hacer consultas y visualizarlas.
#! Selecionamos solo algunas columnas de la tabla "Covid_Deaths_1" y las mostramos.
#! Calculamos la suma de "new_cases" y "new_deaths".
#! Ordenamos los valores por medio de la columna "1", "2".
#! Calculamos los valores totales, sin agruparlos.
#! By: Jaime Araujo.

In [ ]:
conexion = conexion_sql_server()

df = select_to_df('''WITH PopvsVac (continent, location, date, population, new_vaccinations, RollingPeopleVaccinated)
                  AS 
                  (
                  SELECT Dea.continent, Dea.location, Dea.date, Dea.population, Vac.new_vaccinations,
                        SUM (CAST(Vac.new_vaccinations AS float )) OVER (Partition By Dea.location Order By Dea.location,
                        Dea.date) AS RollingPeopleVaccinated
                        FROM Covid_Deaths_1 AS Dea
                            JOIN Covid_Vaccinations_1 AS Vac
                                ON Dea.location = Vac.location
                        AND Dea.date = Vac.date
                    WHERE Dea.continent is not null
                    )
                    SELECT * , (RollingPeopleVaccinated / population) * 100 AS People_Vac_Percentage
                    FROM PopvsVac;
                        ''', conexion)

print(df.sample(15))

#! Nos permite hacer consultas y visualizarlas.
#! Generamos un alias para la tabla "EmployeeDemographics" y "EmployeeSalary".
#! "Demo" hace referencia a la tabla "EmployeeDemographics" y "Sal" a la tabla "EmployeeSalary".
#! Hacemos un Join, nos traen los valores que coinciden entre la tabla_1 y tabla_2.
#! Nos genera una nueva columna y realiza una partición mediante la columna "Gender".
#! Nos genera una nueva columna y realiza una partición mediante la columna "Salary".
#! Tenemos 1 linea "Female" por ello en TotalGender en esa linea nos indica "1", luego tenemos 3 lineas con "Male" por ello que tenemos 3 en "TotalGender".
#! Tenemos 1 linea "Female" por ello en AvgSalary en esa linea nos indica "47000", luego tenemos 3 lineas con "Male" por ello que tenemos 58666 en "AvgSalary".
#! Solo consideramos los valores mayores a 45000, referente a la columna "Salary"
#! By: Jaime Araujo.

           continent      location       date   population new_vaccinations  RollingPeopleVaccinated
34716           Asia        Bhutan 2023-11-21     782457.0             None                 862033.0  110.170016
75578         Europe        Cyprus 2020-11-13     896007.0             None                      NaN         NaN
15030  North America         Aruba 2021-07-02     106459.0            568.0                  78202.0   73.457387
23571           Asia    Bangladesh 2021-02-08  171186368.0             None                    567.0    0.000331
23211           Asia    Bangladesh 2020-02-14  171186368.0             None                      NaN         NaN
7840          Africa        Angola 2021-08-30   35588996.0             None                      NaN         NaN
94839         Europe       Estonia 2022-04-12    1326064.0            534.0                1976821.0  149.074328
7858          Africa        Angola 2021-09-17   35588996.0             None                      NaN         NaN
24379           Asia    Bangladesh 2023-04-27  171186368.0             None              139285171.0   81.364639
46672         Africa  Burkina Faso 2020-12-17   22673764.0             None                      NaN         NaN
65323         Africa         Congo 2020-07-10    5970430.0             None                      NaN         NaN
34438           Asia        Bhutan 2023-02-16     782457.0             None                 862033.0  110.170016
47954         Africa       Burundi 2020-07-05   12889583.0             None                      NaN         NaN
40353         Africa      Botswana 2023-06-23    2630300.0             None                  10435.0    0.396723
64120         Africa       Comoros 2021-03-11     836783.0             None                      NaN         NaN

In [ ]:
'''
Temp Table
'''

'\nTemp Table\n'

In [ ]:
def conexion_sql_server():
# Nombre del DSN (puedes cambiarlo al DSN que has configurado)
    dsn = 'Portfolio_Proyect'

# Cadena de conexión SQLAlchemy utilizando DSN
    connection_string = f"mssql+pyodbc:///?odbc_connect={urllib.parse.quote_plus(f'DSN={dsn};Trusted_Connection=yes')}"
    engine = sqlalchemy.create_engine(connection_string, echo=False)

    # Devolver la conexión
    return engine

def select_to_df(sql_query, connection):
    try:
        # Crear un cursor
        cursor = connection.raw_connection().cursor()

        # Crear la tabla temporal si no existe
        create_table_query = '''
            DROP TABLE if exists #PercentPopulationVaccinated
            CREATE TABLE #PercentPopulationVaccinated(
                Continent varchar(100),
                Location varchar (100),
                Date datetime,
                Population numeric,
                New_Vaccinations numeric,
                RollingPeopleVaccinated numeric
            )
        '''

        cursor.execute(create_table_query)

        # Insertar datos en la tabla temporal
        insert_data_query = '''
            INSERT INTO #PercentPopulationVaccinated
            SELECT Dea.continent, Dea.location, Dea.date, Dea.population, Vac.new_vaccinations,
                        SUM (CAST(Vac.new_vaccinations AS float )) OVER (Partition By Dea.location Order By Dea.location,
                        Dea.date) AS RollingPeopleVaccinated
                        FROM Covid_Deaths_1 AS Dea
                            JOIN Covid_Vaccinations_1 AS Vac
                                ON Dea.location = Vac.location
                        AND Dea.date = Vac.date
                    WHERE Dea.continent is not null
                    ;
        '''

        cursor.execute(insert_data_query)

# Ejecutar la consulta y cargar los resultados en un DataFrame de Pandas
        df = pd.read_sql_query(sql_query, connection)
        return df
    except Exception as e:
        print(e)
        return None

# Consultar la tabla temporal
conexion = conexion_sql_server()

df = select_to_df('''SELECT *
                  FROM #PercentPopulationVaccinated
                  ''', conexion)

print(df)

      Continent     Location       Date   Population  New_Vaccinations  RollingPeopleVaccinated
0          Asia  Afghanistan 2020-01-03   41128772.0               NaN                      NaN
1          Asia  Afghanistan 2020-01-04   41128772.0               NaN                      NaN
2          Asia  Afghanistan 2020-01-05   41128772.0               NaN                      NaN
3          Asia  Afghanistan 2020-01-06   41128772.0               NaN                      NaN
4          Asia  Afghanistan 2020-01-07   41128772.0               NaN                      NaN
...         ...          ...        ...          ...               ...                      ...
97088    Africa     Ethiopia 2020-06-30  123379928.0               NaN                      NaN
97089    Africa     Ethiopia 2020-07-01  123379928.0               NaN                      NaN
97090    Africa     Ethiopia 2020-07-02  123379928.0               NaN                      NaN
97091    Africa     Ethiopia 2020-07-03  123379928.0               NaN                      NaN
97092    Africa     Ethiopia 2020-07-04  123379928.0               NaN                      NaN

[97093 rows x 6 columns]

In [ ]:
'''
Creating view to store data for later visualizations
'''

'\nCreating view to store data for later visualizations\n'

In [42]:
# Parámetros de conexión
server = 'DESKTOP-CK3D4E3\\SQLEXPRESS02'
database = 'PORTFOLIO_PROYECT'
#username = 'tu_usuario'
#password = 'tu_contraseña'

# Llevamos a cabo la conexión con el servidor

conexion = podbc.connect(driver= '{SQL server}', Database= '{PORTFOLIO_PROYECT}', host = server)

print("Creación de vista Exitosa")

# Crear un cursor
cursor = conexion.cursor()

# Crear la tabla
create_table_query = '''
    CREATE View PercentPopulationVaccinated AS
    SELECT Dea.continent, Dea.location, Dea.date, Dea.population, Vac.new_vaccinations,
                        SUM (CAST(Vac.new_vaccinations AS float )) OVER (Partition By Dea.location Order By Dea.location,
                        Dea.date) AS RollingPeopleVaccinated
                        FROM Covid_Deaths_1 AS Dea
                            JOIN Covid_Vaccinations_1 AS Vac
                                ON Dea.location = Vac.location
                        AND Dea.date = Vac.date
                    WHERE Dea.continent is not null;
'''

# EmployeeID INT PRIMARY KEY, "Nos permite considerar la columna como la llave primaria"

cursor.execute(create_table_query)

# Nos aseguramos de cerrar la conexión

conexion.commit()
conexion.close()

# Nos permite crear una vista, en nuestro ejemplo es "PercentPopulationVaccinated".

Creación de vista Exitosa

In [42]:
conexion = conexion_sql_server()

pd.set_option('display.expand_frame_repr', False) #! Muestra los resultados de manera horizontal.

Prueba = select_to_df('''SELECT Location, MAX (CAST(total_deaths AS float)) AS TotalDeathCount,
                  MAX (date) AS Last_time
                    FROM Covid_Deaths_1
                    WHERE continent is not null
                    GROUP BY Location
                    ORDER BY TotalDeathCount DESC;
                        ''', conexion)

print(Prueba.head(10)) #! Nos muestra los primeros 10 valores.

#print(df.tail(10)) #! Nos muestra los ultimos 10 valores.

#! Nos permite hacer consultas y visualizarlas.
#! Selecionamos solo algunas columnas de la tabla "Covid_Deaths_1" y las mostramos.
#! Calculamos el valor maximo de muertes totales.
#! Agrupamos los valores por "Location"
#! Ordenamos los valores por medio de la columna "TotalDeathCount" DESC.
#! CAST(total_deaths AS int), nos permite cambiar el tipo de dato.
#! WHERE continent is not null, elimina los valores vacios de la columna "continent"
#! MAX (date) AS Last_time, agregamos la ultima fecha con registro de datos.
#! By: Jaime Araujo.

    Location  TotalDeathCount  Last_time
0     Brazil         702116.0 2023-12-19
1   Colombia         142727.0 2023-12-19
2  Argentina         130682.0 2023-12-31
3      China         121880.0 2023-12-19
4      Chile          64497.0 2023-12-19
5     Canada          53470.0 2023-12-19
6    Czechia          43153.0 2024-01-02
7   Bulgaria          38539.0 2023-12-21
8    Ecuador          36036.0 2023-12-19
9    Belgium          34339.0 2023-12-19

In [44]:
Prueba.to_excel(r'C:\Users\JAIME\Desktop\Jaime_Data_Analyst\Bootcamps\SQL\Curso_Alex_The_Analyst\Import_Data_SQL\Prueba.xlsx')

#! Nos permite exportar nuestro dataframe "Prueba" a la ruta lineas arriba, esto en formato xlsx.